/* pseudo-class link */
a:link {
    color: blue; /* Default link color */
}
/* pseudo-class visited */
a:visited
{
   background-color: red; /* Visited link color */
}
/* pseudo-class hover */
a:hover {
    color: brown; /* Hover link color */
}

/* pseudo-Element first-line */
p::first-line
{
    color:green;
    font-size: 40px;
}
p::first-letter
{
    color:blue;
    font-size: 80px;
    font-weight: bold;
}
p.mike.firstline
{
    color:green;
    font-size: 40px;
}   
